{% extends 'base.html' %}
{% load static %}

{% block title %}
Data Pasien
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/pasien.css'%}">
{% endblock css %}

{% block titlepage %}
<strong>Data Pasien Rawat Inap</strong>
{% endblock titlepage %}

{% block content %}
<div id="pasien">
    <form @submit.prevent="getData">
        <div class="pasien-form">
            {% csrf_token %}
            {{form }}
            <button type="submit" class="btn btn-outline-info">Cari</button>
        </div> 
        {% if data %}
        <div class="selected-data">Data filter: <span class="data" style="font-weight:bold; margin-left:10px;">  {{data}} <a href="{% url 'ranap:listpasien' %}"><i class="fas fa-times close"></i></a> </span></div>
        {% endif %}
    </form>
{% comment %} 
{% include "snippets/searchPasien.html" %} {% endcomment %}

<div class="row">
    <div class="table table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>No Rawat</th>
                    <th>RM</th>
                    <th>Nama Pasien</th>
                    <th>Jenis Bayar</th>
                    <th>Kamar</th>
                    <th>Status Pulang</th>
                    <th>Diagnosa Akhir</th>
                    <th>Aksi</th>
                </tr>
              
            </thead>
            <tbody>
                {% for dt in pasien %}
                <tr>
                    <td>{{dt.no_rawat}}</td>
                    <td>{{dt.no_rawat.no_rkm_medis}}</td>
                    <td>{{dt.no_rawat.no_rkm_medis.nm_pasien}}</td>
                    <td></td>
                    <td>{{dt.kd_kamar}}</td>
                    <td>{{dt.stts_pulang}}</td>
                    <td>{{dt.diagnosa_akhir}}</td>
                    <td>
                        <a href="{% url 'ranap:tindakan'%}" class="btn btn-warning">Tindakan</a>
                    </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
    {% comment %} <div class="pagination">
        <span class="step-links">
            {% if pasien.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ pasien.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ pasien.number }} of {{ pasien.paginator.num_pages }}.
            </span>
    
            {% if pasien.has_next %}
                <a href="?page={{ pasien.next_page_number }}">next</a>
                <a href="?page={{ pasien.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div> {% endcomment %}
</div>

{% endblock content %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#kematian').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ]
        });
    });
</script>


{% endblock script %}