{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SIMRS | {% block title %} {% endblock title %}</title>
  
  {% include "snippets/styles.html" %}
  
  {% block css %} {% endblock css %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'dist/img/AdminLTELogo.png'%}" alt="AdminLTELogo" height="60" width="60">
  </div>

  {% include "snippets/navbar.html" %}
  
  {% include "snippets/sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{% block titlepage %} {% endblock titlepage %}</h1>
          </div><!-- /.col -->
          {% comment %} <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->  {% endcomment %}
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    {% include 'common/messages.html' %}
    <!-- Main content -->
    <section class="content">
        {% block content1 %}

        {% endblock content1 %}
      <div class="container  bg-light mt-5">
        <!-- Main row -->
                    {% comment %} ###################################################### HALAMAN UTAMA #################################### {% endcomment %}
           
                {% block content %}

                {% endblock content %}
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
   
  {%include 'snippets/footer.html'%}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>


{% include "snippets/scripts.html" %}

{% block script %}{% endblock script %}
</body>
</html>
