{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Data Pasien
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/pasien.css'%}">
{% endblock css %}

{% block navigation %}
<li class="nav-item d-none d-sm-inline-block">
    <a href="#" class="nav-link {% if listpasien == 'active' %} active {% endif %}" >pasien</a>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <a href="#" class="nav-link {% if pengkajian == 'active' %} active {% endif %}">Pengkajian</a>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <a href="#" class="nav-link">Pemeriksaan</a>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <a href="#" class="nav-link">Tindakan</a>
</li>
{% endblock navigation %}

{% block cardtitle %}
<strong>Data Pasien</strong>
{% endblock cardtitle %}

{% block content %}
<div id="pasien">
<form @submit.prevent="getData">
    <div class="pasien-form">
        {{form | crispy}}
        <button type="submit" class="btn btn-outline-info">Cari</button>
    </div>
    {% if data %}
    <div class="selected-data">Data filter: <span class="data" style="font-weight:bold; margin-left:10px;">  {{data}} <a href="{% url 'igd:listpasien_view' %}?data="><i class="fas fa-times close"></i></a> </span></div>
    {% endif %}
</form>

<div class="row m-5">
    <div class="table table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>No Rawat</th>
                    <th>RM</th>
                    <th>Nama Pasien</th>
                    <th>Tanggal</th>
                    <th>Jam</th>
                    <th>Poliklinik</th>
                    <th>Dokter</th>
                    <th>Aksi</th>
                </tr>
              
            </thead>
            <tbody>
                {% for dt in pasien %}
                <tr>
                    <td>{{dt.no_rawat}}</td>
                    <td>{{dt.no_rkm_medis.no_rkm_medis}}</td>
                    <td>{{dt.no_rkm_medis.nm_pasien}}</td>
                    <td>{{dt.tgl_registrasi}}</td>
                    <td>{{dt.jam_reg}}</td>
                    <td>{{dt.kd_poli}}</td>
                    <td>{{dt.kd_dokter}}</td>
                    <td>
                        
                        <a href="{% url 'igd:pengkajianpasien_view' norawat=dt.slugify_norawat %}" class="btn btn-warning">Pengkajian Ranap</a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% comment %} <template v-if="showPrevButton">
            <button @click="loadPrev()" class="btn btn-outline-info">Prev</button>
        </template>
        <template v-if="showNextButton">
            <button @click="loadNext()" class="btn btn-outline-info">Next</button>
        </template> {% endcomment %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if pasien.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ pasien.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ pasien.number }} of {{ pasien.paginator.num_pages }}.
            </span>
    
            {% if pasien.has_next %}
                <a href="?page={{ pasien.next_page_number }}">next</a>
                <a href="?page={{ pasien.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
</div>
{% endblock content %}

{% block script %}

<script>
    
</script>


{% endblock script %}