{% extends 'auth_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>SIM-RS Mandalika </b> <br> <small style="font-size: 20px;" class="form-text text-muted"> Sistem
        informasi manajemen RS Mandalika Provinsi NTB</small></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
      {% include 'common/messages.html' %}

      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
        <!-- /.col -->
    </div>
    </form>

  </div>
  <!-- /.login-card-body -->
</div>
</div>
<!-- /.login-box -->

{% endblock content %}